body {
    font-family: monospace;
    background-color: rgb(20, 20, 20);
    color: white;
}

.slika {
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin-right: 50px;
}

.div1 {
    padding-top: 1px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    height: 180px;
    font-size: 12pt;
}

.tocka {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 5px;
}

.div2 {
    clear: left;
    padding-top: 10px;
    padding-left: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

.div3 {
    padding-top: 10px;
    padding-left: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

table {
    padding-left: 0;
    font-size: 12pt;
    border-spacing: 40px;
}

th {
    text-align: center;
    font-weight: bold;
}

.div4 {
    padding-top: 10px;
    padding-left: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    font-size: 12pt;
    height: 200px;
}

.div5 {
    font-size: 12pt;
    padding: 10px;
}

.kontakt {
    width: 300px;
}